.category {
  padding-bottom: 125px;
  &-container {
    gap: 50px;
  }
  &-content {
    max-width: 625px;
    width: 100%;
  }
  &-title {
    max-width: 500px;
    width: 100%;
  }
  &-author {
    gap: 10px;
  }
  &-author--image {
    border-radius: 100rem;
  }
}
