.contact {
  padding-bottom: 100px;
  &-container {
    background: url("../images/contact-image.png") center / cover no-repeat
      fixed;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    object-fit: cover;
    position: relative;
  }
  &-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #129bf6;
    opacity: 0.2;
    z-index: 0;
  }
  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &-title {
    text-align: center;
    padding-bottom: 20px;
  }
  &-form {
    background-color: #fff;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    padding: 15px 25px;
  }
  &-input {
    border: 0;
    width: 80%;
  }
}
