.footer {
  padding-bottom: 50px;
  a {
    display: block;
  }
  &-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 0px 116px;
  }
  &-logo {
    gap: 10px;
  }
  &-gmail {
    padding: 20px 0;
  }
  &-title {
    padding-bottom: 20px;
  }
  &-link {
    padding-bottom: 20px;
  }
}
