.header {
  margin-top: 50px;
  &-logo {
    gap: 10px;
  }
  &-list {
    gap: 0 90px;
    font-size: 18px;
    font-weight: 500;
  }
  &-item {
    position: relative;
  }
  &-link {
    position: relative;
    color: #000000;
  }
  &-link:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $primary-color;
    bottom: -8px;
    border-radius: 5px;
  }
  &-icon {
    gap: 0 50px;
  }
}
