.hero {
  &-container {
    align-items: stretch;
  }
  &-content {
    max-width: 455px;
    width: 100%;
  }
  &-title {
    font-size: 61px;
    line-height: calc(91 / 61);
    color: $secondary-color;
    font-weight: 600;
    padding-bottom: 25px;
    span {
      display: block;
    }
  }
  &-social {
    padding-top: 50px;
    gap: 0 25px;
    a.social-twit {
      width: 40px;
      height: 40px;
      border: 2px solid $border-color;
      border-radius: 100rem;
    }
  }
}
