.hero {
  &-container {
    align-items: stretch;
  }
  &-content {
    max-width: 455px;
    width: 100%;
  }
  &-title {
    font-size: 61px;
    line-height: calc(91 / 61);
    color: $secondary-color;
    font-weight: 600;
    span {
      display: block;
    }
  }
}
