.hero {
  &-container {
    align-items: stretch;
  }
  &-content {
    max-width: 455px;
    width: 100%;
  }
  &-title {
    font-size: 61px;
    line-height: calc(91 / 61);
    color: $secondary-color;
    font-weight: 600;
    padding-bottom: 25px;
    span {
      display: block;
    }
  }
  &-social {
    padding-top: 50px;
    gap: 0 25px;
    a.social-icon {
      width: 40px;
      height: 40px;
      border: 2px solid $border-color;
      border-radius: 100rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &-image {
    position: relative;
  }
  &-image--big {
    position: relative;
  }
  &-image--small-top {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(50%);
    width: 100px;
  }
  &-image--small-bottom {
    position: absolute;
    bottom: 50px;
    right: 100px;
  }
}
