.menu {
  &-heading {
    text-align: center;
    padding-bottom: 100px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 100px;
  }
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 12px 36px 32px rgba(228, 228, 228, 0.5);
    border-radius: 25px;
  }
}
