.product {
  &-title {
    text-align: center;
    padding-bottom: 58px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px 80px;
  }
  &-image {
    border-radius: 10px;
  }
}
