.heading-title {
  font-size: 58px;
  font-weight: 600;
  line-height: calc(87 / 58);
  color: $secondary-color;
}

.text-desc {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(27 / 18);
  padding: 25px 0 35px;
  color: $text-color-box;
}
