.heading-title {
  font-size: 50px;
  font-weight: 600;
  line-height: calc(87 / 58);
  color: $secondary-color;
}

.text-desc {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(27 / 18);
  padding: 25px 0 35px;
  color: $text-color-box;
}

.heading-title--small {
  font-size: 22px;
  line-height: calc(33 / 22);
  font-weight: 600;
  color: $heading-color;
}
